Daniel Badger <dcb9912@rit.edu>
Sasha Avteniev <aja2328@rit.edu>
Brady Marr <bpm1900@rit.edu>
Brady Marr <bpm1900@MSS2150-03>
Cam Lach <cml7127@MSS2150-05>
Cam Lach <cml7127@rit.edu>
Sean Adams <sea9182@rit.edu>
